@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  @include media(mobile) {
    background-color: var(--modal-text-bodyBG-color);
    background-image: url(../images/body-img-mb.jpg);
    background-repeat: no-repeat;

    @include media(retina) {
      background-image: url(../images/body-img-mb-2x.jpg);
    }
  }
  @include media(tablet) {
    background-size: 100%, auto;
    background: no-repeat url(../images/body-img-tb.jpg);
    // no-repeat url(../images/noise-body-tb.png),
    // no-repeat 420px 750px url(../images/Ellipse-4.png),
    // no-repeat 25px 750px url(../images/Ellipse-2-tb.png),
    // no-repeat 15px 450px url(../images/Ellipse-5-tb.png),
    // no-repeat 420px 1400px url(../images/Ellipse-5.png),
    // no-repeat 25px 1400px url(../images/Ellipse-6.png);
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    // background-color: #212121;
    // background-size: 768px, 364px;

    @include media(retina) {
      background-image: url(../images/body-img-tb-2x.jpg),
        url(../images/bg-body-tb-2x.png);
    }
  }

  @include media(desktop) {
    background-size: 100%, auto;
    background-color: #212121;
    background: no-repeat url(../images/body-img-dt.jpg);
    // no-repeat url(../images/noise-body.png),
    // no-repeat 916px 460px url(../images/Ellipse-4.png),
    // no-repeat 25px 750px url(../images/Ellipse-2.png),
    // no-repeat 15px 750px url(../images/Ellipse-5.png),
    // no-repeat 950px 1400px url(../images/Ellipse-5.png),
    // no-repeat 25px 1400px url(../images/Ellipse-6.png),
    // no-repeat 916px 1800px url(../images/Ellipse-4.png),
    // no-repeat 25px 2100px url(../images/Ellipse-5.png);
    // background-color: #212121;

    @include media(retina) {
      background-image: url(../images/body-img-dt-2x.jpg),
        url(../images/bg-body@2x.png);
    }

    // background-size: 1280px, 446px;
    // background: linear-gradient(#212121, #c4c4c4, #0e0e0e, 3%);
  }
}
