:root {
    --primery-text-color: #FFFFFF;
    --secondary-text-color: #DC56C5;
    --input-footer-text-colr: #939393;
    --button-color:#4C00FE;
    --modal-text-bodyBG-color: #0E0E0E;
    --modal-background-color-btn:#FFF2FD;


    --main-font:'Montserrat', sans-serif;

}