:root {
  --primery-text-color: #ffffff;
  --secondary-text-color: #dc56c5;
  --input-footer-text-colr: #939393;
  --button-color: #4c00fe;
  --modal-text-bodyBG-color: #0e0e0e;
  --modal-background-color-btn: #fff2fd;

  --main-font: 'Montserrat', sans-serif;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
