<div class="bored is-hidden" id="subscription-modal">
  <div class="bored__actions">
    <h1 class="bored__title">БРО, ТИ ШО, ЯКИЙ, КОНЦЕРТ, ДАНАТЬ ЗСУ</h1>
    <div class="bored__flex">
      <a
        class="bored__link"
        href="https://savelife.in.ua/donate/#donate-army-card-monthly"
        >ТИЦЬНИ СЮДИ</a
      >
      <img
        class="img"
        src="./images/FoYF_K-D_400x400 (1).jpg"
        alt="cat"
        width="100px"
        height="100px"
      />
    </div>
  </div>
</div>
