<div class="bored is-hidden" id="subscription-modal">
  <div class="bored__actions">
    <h1 class="bored__title">БРО, ТИ ШО, ЯКИЙ, КОНЦЕРТ, ДАНАТЬ ЗСУ</h1>
    <div class="bored__flex">
      <button class="bored__btn" type="submit">
        <a
          class="bored__link"
          href="https://savelife.in.ua/donate/#donate-army-card-monthly"
          >ТИЦЬНИ СЮДИ</a
        >
      </button>
      <img class="img" src="./images/FoYF_K-D_400x400 (1).jpg" alt="cat" />
    </div>
  </div>
</div>
