<form class="search-form" id="search-form">
  <div>
    <input
      class="search-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Start searching"
    />

    <button type="submit" class="form-btn">
      <svg class="search-form__icon" width="15px" height="15px">
        <use href="./images/sprite.svg#icon-search-icon"></use>
      </svg>
    </button>

    <input
      class="choose-country-input"
      type="search"
      name="searchQuery"
      autocomplete="off"
      placeholder="Choose country"
    />
    <svg class="choose-form__icon" width="15px" height="10px">
      <use href="./images/sprite.svg#icon-polygon"></use>
    </svg>
  </div>
</form>
