<header>
  <a class="header__link" href="./index.html">
    <picture class="header__logo">
      <source
        media="(min-width: 1280px)"
        srcset="./images/desktop/logo1x.png 1x, ./images/desktop/logo2x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/tablet/logo1x.png 1x, ./images/tablet/logo1x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/mobile/logo1x.png, ./images/mobile/logo2x.png"
        type="image/png"
      />
      <img src="./images/desktop/logo1x.png" alt="logo" />
    </picture>
  </a>
  <div class="container">
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
  </div>
</header>

