<div class="backdrop-is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn">
      <svg class="close-icon" width="25" height="25">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img
      class="ltl-img"
      src="./images/desktop/ltl-img1x.png"
      alt="little-img"
    />
    <div class="parts">
      <div class="first-part">
        <img
          class="big-img"
          src="./images/desktop/big-img1x.jpg"
          alt="big-img"
        />
      </div>
      <div class="second-part">
        <ul class="modal-list list">
          <li class="modal-item">
            <h2 class="modal-title">INFO</h2>
            <p class="modal-txt">
              Atlas Weekend is the largest music festival in Ukraine. <br />
              More than 200 artists will <br />
              create a proper music festival atmosphere on 10 stages
            </p>
          </li>
          <li class="modal-item">
            <h2 class="modal-title">WHEN</h2>
            <p class="modal-txt">
              2021-06-09 <br />
              20:00 (Kyiv/Ukraine)
            </p>
          </li>
          <li class="modal-item">
            <h2 class="modal-title">WHERE</h2>
            <p class="modal-txt">Kyiv, Ukraine <br />VDNH</p>
          </li>
          <li class="modal-item">
            <h2 class="modal-title">WHO</h2>
            <p class="modal-txt">The Black Eyed Peas</p>
          </li>

          <li class="modal-item">
            <h2 class="modal-title">PRICES</h2>
            <ul class="buy-list list">
              <li class="buy-item">
                <svg class="buy-icon" width="29" height="20">
                  <use href="./images/sprite.svg#icon-ticket1"></use>
                </svg>
                <p class="modal-txt">Standart 300-500 UAH</p>
              </li>
              <li class="buy-item">
                <a class="buy-link link" href="">BUY TICKETS</a>
              </li>

              <li class="buy-item">
                <svg class="buy-icon" width="29" height="20">
                  <use href="./images/sprite.svg#icon-ticket1"></use>
                </svg>
                <p class="modal-txt">VIP 1000-1500 UAH</p>
              </li>
              <li class="buy-item">
                <a class="buy-link link" href="">BUY TICKETS</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="author-button">MORE FROM THIS AUTHOR</button>
  </div>
</div>
