.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 56px;
  gap: 24px;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 48px;
    margin-bottom: 130px;
  }
}
.search-form input:hover,
.search-form input:focus {
  background: rgba(7, 5, 5, 0.443);
}

.search-form input {
  min-width: 280px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: #939393;
  border-radius: 20px;
  padding: 10px 32px;
  border: none;
  outline: none;
  resize: none;

  &:hover {
    box-shadow: 0px 0px 3px 3px #dc56c5;
    transition: box-shadow 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @media screen and (min-width: 768px) {
    min-width: 336px;
    height: 40px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 288px;
    height: 40px;
  }
}

.input-form {
  position: relative;
}

.search {
  position: absolute;
  top: 14px;
  right: 32px;
  fill: #939393;
  align-items: center;
  transform: scale(1);
  &:hover {
    transform: scale(1.5);
    transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    fill: #dc56c5;
  }
}

.select {
  position: relative;

  &.is-active .select-window {
    display: block;
  }

  &.is-active .select-window:hover {
    transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .select-window {
    animation: rotate-in-2-ccw 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @keyframes rotate-in-2-ccw {
      0% {
        transform: rotate(50deg);
        opacity: 0;
      }
      100% {
        transform: rotate(0);
        opacity: 1;
      }
    }
  }

  .select-country {
    position: relative;
    display: flex;
    border: none;
    border-radius: 20px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #939393;
    min-width: 280px;
    height: 40px;

    &:hover {
      box-shadow: 0px 0px 3px 3px #dc56c5;
      transition: box-shadow 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover,
    &:focus {
      background: rgba(7, 5, 5, 0.443);
    }

    @media screen and (min-width: 768px) {
      min-width: 336px;
      height: 40px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 288px;
      height: 40px;
    }
  }

  .select-current-country {
    font-weight: 400;

    font-size: 16px;
    line-height: 20px;
    padding: 10px 32px;
  }

  .select-icon {
    align-items: center;
    display: flex;

    justify-content: center;
    width: 45px;
    height: 40px;
    margin-left: auto;
    text-align: center;
    padding-right: 32px;
  }

  &:hover,
  .select__icon:hover {
    color: grey;
  }

  &__item {
    padding: 1px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background: #dc56c5;
      transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .select-window {
    z-index: 100;
    position: absolute;
    display: none;
    height: 130px;

    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 5px 0px;
    color: #cccccc;
    overflow: auto;

    margin: 0;
    min-width: 280px;

    &:hover {
      box-shadow: 0px 0px 3px 3px #dc56c5;
      transition: box-shadow 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
      background: rgba(7, 5, 5, 0.443);
    }

    @media screen and (min-width: 768px) {
      //   min-width: 336px;
    }

    @media screen and (min-width: 1200px) {
      //   min-width: 288px;
    }
  }
}
