.header__logo {
  position: absolute;
  top: 0%;
}
.header__title {
  max-width: 700px;
  font-weight: 900;
  font-size: 50px;
  line-height: calc(61 / 50);
  text-align: center;
  color: var(--secondary-text-color);
  display: flex;
  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;

  @media screen and (max-width: 1279px) {
    font-size: 30px;
    max-width: 350px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 80px;
    font-size: 18px;
    max-width: 250px;
  }
}
